{% extends 'base.html' %}
{% load static %}

{% block header %}
</header>
<!-- Home -->

<section class="home" id="home">
    <div class="home-text container">
        <h2 class="home-title">Pagina no Encontrada</h2>
    </div>
</section>

<!-- Post Content -->
<section class="content-404">
    <div class="header-content post-container">
        <!-- Back To Home-->
        <a href= {% url 'home' %} class="back-home">Regresar al Inicio</a>
       
    </div>
</section>
{% endblock %}

 


  







    



