{% extends 'base.html' %}
{% load static %}

{% block header %}
</header>
<!-- Home -->

<section class="home" id="home">
    <div class="home-text container">
        <h2 class="home-title">{{ category }}</h2>
        <span class="home-subtitle">Todos los post de esta Categoria</span>
    </div>
</section>
{% endblock %}

{% block content %}
    <div class="main-container">
        <div class="post-wrapper">
            {% for post in category.get_posts.all %}
                       <!-- Post Box 1-->
                       <div class="post-box">
                         <img src={{ post.image.url }} alt="" class="post-img">
                         <h2 class="category">{{ post.category }}</h2>
                         <a href={% url 'post' post.id %} class="post-title">
                             {{ post.title }}
                         </a>
                         <a href="#" class="post-date">{{ post.created|date:"d M Y" }}</a>
                         <p class="post-decription">{{ post.exerpt }}</p>
                         <!-- Profile -->
                         <div class="profile">
                             <!--<img src={% static 'blogapp/img/profile-1.jpg' %} alt="" class="profile-img">-->
                             <a href={% url 'author' post.author.id %} class="profile-name">{{ post.author }}</a>
                         </div>
                       </div>
                {% empty %}
                    <div class="post-text" role="alert">
                         <strong>No existen post con la categoria: {{ category }}</strong>
                        
                    </div>
               
            {% endfor %}
      
                  
      
      
      
        </div>
      </div>


{% endblock %}


{% block paginaDe %}

<div class="paginacion">
  
    {% if posts.has_previous %}
        <a href="?page=1">Inicio</a>
        <a href="?page={{ posts.previous_page_number }}"><i class='bx bxs-chevron-left'></i></a>
    {% endif %}

    {% for page in pages %}
        <li class="page-item" {% if current_page == page %} active{% endif %}>
        <a class="page-link" href="?page= {{ page }}">{{ page }}</a>
        </li>
    {% endfor %}

    {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}"><i class='bx bxs-chevron-right'></i></a>
        <a href="?page={{ posts.paginator.num_pages }}">Ultima</a>
    {% endif %}

</div>

{% endblock %}