{% extends 'base.html' %}
{% load static %}

{% block header %}

<!-- Home -->

<section class="home" id="home">
    <div class="home-text container">
        <h2 class="home-title">Fundacion Pueblo</h2>
        <span class="home-subtitle">We make use of people to promote an idea!</span>
    </div>
</section>
{% endblock %}

   {% block postFilter %}
        <!--<h2>Hello this is inside the postFilter </h2>-->
  <!--<div class="post-filter container">
       <span class="filter-item active-filter" data-filter='all'>All</span>
       <span class="filter-item" data-filter='gamig'>Programación</span>
       <span class="filter-item" data-filter='tech'>Tech</span>
       <span class="filter-item" data-filter='mobile'>Mobile</span>
   </div>-->
  {% endblock %}


{% block content %}
<div class="main-container">
  <div class="post-wrapper">
      {% for post in posts %}
                 <!-- Post Box 1-->
                 <div class="post-box">
                   <img src={{ post.image.url }} alt="" class="post-img">
                   <h2 class="category">{{ post.category }}</h2>
                   <a href={% url 'post' post.id %} class="post-title">
                       {{ post.title }}
                   </a>
                   <h2 class="post-date">{{ post.created|date:"d M Y" }}</h2>
                   <p class="post-decription">{{ post.exerpt }}</p>
                   <!-- Profile -->
                   <div class="profile">
                       <!--<img src={% static 'blogapp/img/profile-1.jpg' %} alt="" class="profile-img">-->
                       <a href={% url 'author' post.author.id %} class="profile-name">{{ post.author }}</a>
                   </div>
                 </div>

                 {% endfor %}





  </div>
</div>

{% endblock %}




{% block paginaDe %}

<div class="paginacion">

  {% if posts.has_previous %}
  <li class="page-item"><a href="?page=1" class="page-item">Inicio</a></li>
  <li class="page-item"><a href="?page={{ posts.previous_page_number }}" class="page-link"><i class='bx bxs-chevron-left'></i></a></li>
  {% endif %}

  {% for page in pages %}
    <li class="page-item" {% if current_page == page %} active{% endif %}>
      <a class="page-link active" href="?page= {{ page }}">{{ page }}</a>

    </li>

  {% endfor %}

  {% if posts.has_next %}
  <li class="page-item"><a href="?page={{ posts.next_page_number }}" class="page-link"><i class='bx bxs-chevron-right'></i></a></li>
  <li class="page-item"><a href="?page={{ posts.paginator.num_pages }}" class="page-link">Ultima</a></li>
  {% endif %}

</div>

{% endblock %}





