{% extends 'base.html' %}
{% load static %}

{% block header %}
</header>
<!-- Home -->

<section class="home" id="home">
    <div class="home-text container">
        <h2 class="home-title">Blog De Prueba</h2>
        <span class="home-subtitle">Blog para testear funcionalidades de Django</span>
    </div>
</section>
{% endblock %}



{% block content %}

<div class="main-container">
    <div class="form-wrapper">
        <form class="form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
        
            <button type="submit" id="submit">Login</button>
           
        </form>
    </div>
  </div>

  <div class="register-text">
    <h4>Eres nuevo? Crea tu usuario <a href={% url 'register' %}>Aqui</a>.</h4>
  </div>


{% endblock %}