{% extends 'events.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href={% static 'fullcalendar/lib/main.css' %}>
{% endblock %}
{% block header %}
</header>
<!-- Home -->

<section class="home" id="home">
    <div class="home-text container">
        <h2 class="home-title">Eventos</h2>
        <span class="home-subtitle">Agenda de Eventos</span>
    </div>
</section>
{% endblock %}

{% block content %}


    

    <br><br>


    <center>
        <div class="month-button">
            <a href="{% url 'events:calendar' prev_year prev_month %}" id="prev"><button class="prev" id="prev">Anterior</button></a>

            {% if month_number == 1 %}<h2>Enero {{ year }}</h2>{% endif %}
            {% if month_number == 2 %}<h2>Febrero {{ year }}</h2>{% endif %}
            {% if month_number == 3 %}<h2>Marzo {{ year }}</h2>{% endif %}
            {% if month_number == 4 %}<h2>Abril {{ year }}</h2>{% endif %}
            {% if month_number == 5 %}<h2>Mayo {{ year }}</h2>{% endif %}
            {% if month_number == 6 %}<h2>Junio {{ year }}</h2>{% endif %}
            {% if month_number == 7 %}<h2>Julio {{ year }}</h2>{% endif %}
            {% if month_number == 8 %}<h2>Agosto {{ year }}</h2>{% endif %}
            {% if month_number == 9 %}<h2>Septiembre {{ year }}</h2>{% endif %}
            {% if month_number == 10 %}<h2>Octubre {{ year }}</h2>{% endif %}
            {% if month_number == 11 %}<h2>Noviembre {{ year }}</h2>{% endif %}
            {% if month_number == 12 %}<h2>Diciembre {{ year }}</h2>{% endif %}
            
            <a href="{% url 'events:calendar' next_year next_month %}" id="next"><button class="next" id="next">Siguiente</button></a>
        </div>

        

    {% if event_list %}
        {% for event in event_list %}
        <center>
            <div class="card-container">
                <div class="card">
                    <figure>
                        {% if event.image %}
                        <img src={{ event.image.url }}>
                        {% endif %}
                    </figure>
                    <div class="contemido">
                        <h3 class="cotenido-h3">{{ event.name }}</h3>
                        <p class="contenido-p">{{ event.description }}</p>
                        <p class="contenido-p">{{ event.event_date }}</p>
                        <p class="contenido-p">{{ event.place }}</p>
                        {% if event.mode == 1 %} <p class="contenido-p">Modalidad: Online</p>{% endif %}
                        {% if event.mode == 2 %}<p class="contenido-p">Modalidad: Presencial</p>{% endif %}
                        {% if event.cost == 1 %}<p class="contenido-p">Gratuito</p>{% endif %}
                        {% if event.cost == 2 %}<p class="contenido-p">De pago</p>{% endif %}
                        <p class="contenido-p">{{ event.price }}</p>
                        <!--<a href="#" class="contenido-a">Leer Mas</a>-->
            
                    </div>
                </div>
            </div>
            </center>
        {% endfor %}
    {% else %}
    <div class="card-container">
        <span>No hay eventos este mes</span>
    </div>
    
    
    {% endif %}
</center>

</div>


<div id="calendar" class="container"></div>






{% endblock %}

