{% extends 'events.html' %}
{% load static %}

{% block header %}
</header>
<!-- Home -->

<section class="home" id="home">
    <div class="home-text container">
        <h2 class="home-title">{{ event_category }}</h2>
        <span class="home-subtitle">Todos los post de esta Categoria</span>
    </div>
</section>
{% endblock %}

{% block content %}
            {% for event in event_category.get_event.all %}
            <ul>
                <li>{{ event.name }}</li>
                <li>{{ event_category }}</li>
                <li>Fecha: {{ event.event_date }}</li>
                <li>Lugar: {{ event.place }}</li>
                <li>Descripcion: {{ event.description }}</li>
                {% if event.mode == 1 %}<li>Modalidad: Online </li>{% endif %}
                {% if event.mode == 2 %}<li> Modalidad: Presencial </li>{% endif %}
                
                {% if event.cost == 1 %}<li> Gratuito </li>{% endif %}
                {% if event.cost == 2 %}<li> De pago </li>{% endif %}
            
                
                <li>{{ event.price }}</li>
            
                </ul>
                <br><br><br>
                 {% empty %}
                 <div class="post-text" role="alert">
                      <strong>No existen post con la categoria: {{ category }}</strong>
                     
            {% endfor %}


{% endblock %}


{% block paginaDe %}

<div class="paginacion">
  
    {% if posts.has_previous %}
        <a href="?page=1">Inicio</a>
        <a href="?page={{ posts.previous_page_number }}"><i class='bx bxs-chevron-left'></i></a>
    {% endif %}

    {% for page in pages %}
        <li class="page-item" {% if current_page == page %} active{% endif %}>
        <a class="page-link" href="?page= {{ page }}">{{ page }}</a>
        </li>
    {% endfor %}

    {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}"><i class='bx bxs-chevron-right'></i></a>
        <a href="?page={{ posts.paginator.num_pages }}">Ultima</a>
    {% endif %}

</div>

{% endblock %}