{% extends 'events.html' %}
{% load static %}

{% block header %}
</header>
<!-- Home -->

<section class="home" id="home">
    <div class="home-text container">
        <h2 class="home-title">{{ event_category }}</h2>
        <span class="home-subtitle">Todos los post de esta Categoria</span>
    </div>
</section>
{% endblock %}

{% block content %}
            {% for event in event_category.get_event.all %}
            <center>
                <div class="card-container">
                    <div class="card">
                        <figure>
                            {% if event.image %}
                            <img src={{ event.image.url }}>
                            {% endif %}
                        </figure>
                        <div class="contemido">
                            <h3 class="cotenido-h3">{{ event.name }}</h3>
                            <p class="contenido-p">{{ event.description }}</p>
                            <p class="contenido-p">{{ event.event_date }}</p>
                            <p class="contenido-p">{{ event.place }}</p>
                            {% if event.mode == 1 %} <p class="contenido-p">Modalidad: Online</p>{% endif %}
                            {% if event.mode == 2 %}<p class="contenido-p">Modalidad: Presencial</p>{% endif %}
                            {% if event.cost == 1 %}<p class="contenido-p">Gratuito</p>{% endif %}
                            {% if event.cost == 2 %}<p class="contenido-p">De pago</p>{% endif %}
                            <p class="contenido-p">{{ event.price }}</p>


                        </div>
                    </div>
                </div>
                </center>
            {% endfor %}


{% endblock %}


{% block paginaDe %}

<div class="paginacion">

    {% if posts.has_previous %}
        <a href="?page=1">Inicio</a>
        <a href="?page={{ posts.previous_page_number }}"><i class='bx bxs-chevron-left'></i></a>
    {% endif %}

    {% for page in pages %}
        <li class="page-item" {% if current_page == page %} active{% endif %}>
        <a class="page-link" href="?page= {{ page }}">{{ page }}</a>
        </li>
    {% endfor %}

    {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}"><i class='bx bxs-chevron-right'></i></a>
        <a href="?page={{ posts.paginator.num_pages }}">Ultima</a>
    {% endif %}

</div>

{% endblock %}